body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 50px;
    background-color: #97cffd;
    color: white;
}

#information {
    display: flex;
    list-style: none;
    margin: 0 15px;
    text-decoration: none;
}
