* {
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #F5F5F0;
}

/*=========== NAVBAR ============== */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* logo kiri, nav kanan */
    padding: 16px 120px; /* kurangi padding agar muat */
    border-bottom: 1px solid #90AB8B;
    font-size: 1.3em;
}

/* Container search + menu */
.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    flex-grow: 1; /* ambil sisa ruang */
    justify-content: space-between;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

main {
    padding: 0px 80px;
}


/*================ Logo =============== */
.logo {
    font-weight: bold;
    font-size: 20px;
    color: #3B4953;
}

/*============== Search bar ============= */
.search-container {
    flex-shrink: 1;
}

.search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 39px;
    height: 40px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    background: rgb(235, 235, 235);
    color: black;
}

.search-box + label .search-icon {
    color: black;
}

.search-box:hover {
    color: white;
    background: rgb(200, 200, 200);
    box-shadow: 0 0 0 5px #5A7863;
}

.search-box:hover + label .search-icon {
    color: white;
}

.search-box:focus { 
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
}

.search-box:focus + label .search-icon {
    color: black;
}

.search-box:not(:focus) {
    text-indent: -5000px;
}

#search-submit {
    position: relative;
    left: -5000px;
}

.search-icon {
    position: relative;
    left: -34px;
    color: white;
    cursor: pointer;
}

 /* .search {
    flex: 1;
    max-width: 300px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #90AB8B;
    background-color: #ffffff;
    color: #3B4953;
    outline: none;
} */

/* .search::placeholder {
    color: #5A7863;
}  */

/*============ Menu =========== */
#information {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
    flex-shrink: 0; /* menu tidak mengecil terlalu kecil */
    font-size: 1.1em;
}


#information li {
    margin-left: 20px;
}

#information a {
    text-decoration: none;
    color: #3B4953;
    font-weight: 10px;
    transition: color 0.2s ease;
}

#information a:hover {
    color: #5A7863;
}

/* Login button */
.login {
    background-color: #5A7863;
    color: #EBF4DD !important;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

.login:hover {
    background-color: #3B4953;
}
/* =========HERO PROMO========= */
.hero {
    background: linear-gradient(135deg, #90AB8B, #EBF4DD);
    padding: 80px 40px;
    border-radius: 20px;
    margin: 30px;
    color: #ffffff;
    box-shadow: 0 15px 30px rgba(59, 73, 83, 0.25);
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-content button {
    background-color: #5A7863;
    color: #EBF4DD;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
}
/*============ BEST BOOK  ===========*/
.books {
    padding: 40px;
}

.books h2 {
    color: #3B4953;
    margin-bottom: 20px;
}

/* WRAPPER */
.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
}

/* VIEWPORT */
.carousel {
    overflow: hidden;
    width: 100%;
}

/* TRACK */
.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.6s ease-in-out;
}

/* CARD */
.book-card {
    min-width: 340px;
    height: 380px;
    background-color: #EBF4DD;
    border: 1px solid #90AB8B;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5A7863;
    font-weight: bold;
    box-shadow: 0 8px 20px rgba(59, 73, 83, 0.18);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* =============DOTS SLIDER=========== */
.carousel-dots {    
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #90AB8B;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.dot.active {
    width: 20px;
    border-radius: 10px;
    background-color: #5A7863;
}

/* ============BUTTON SLIDER=========== */
.carousel-button {
    background-color: rgba(90, 120, 99, 0.85);
    color: #F5F5F0;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.carousel-button:hover {
    background-color: #3B4953;
}

.carousel-button.left {
    margin-right: 10px;
}

.carousel-button.right {
    margin-left: 10px;
}

/* ========WHY US?============ */
.why-us {
    padding: 60px 40px;
    color: #5A7863;
}

.why-us h2 {
    color: #3B4953;
    margin-bottom: 30px;
    font-size: 28px;
}

/* GRID */
.why-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.why-card {
    background: linear-gradient(135deg, #90AB8B, #EBF4DD);
    border-radius: 20px;
    padding: 30px;
    color: #ffffff;
    min-height: 180px;
    box-shadow: 0 12px 25px rgba(59, 73, 83, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-card.h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.why-card.p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.9;
}

/* HOVER EFFECT */
.why-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: #5A7863;
    font-size: 0.9em;
    padding: 28px 80px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-top1 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.content-top1-list {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 8px;
}

.content-top1-list h3{
    padding-bottom: 8px;
}

.content-top1-list a{
    color: #ffffff;
    text-decoration: underline;
}

.content-top2 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: right;
    align-items: flex-end;
    gap: 8px;
}

.content-top2 i{
    background-color: #ffffff;
    width: fit-content;
}

.icon-top2 {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.content-bottom {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-bottom i {
    background-color: #ffffff;
}