.sec-wraper {
    padding: 40px 120px;
}

.contact-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.contact-section h2 {
    color: #5a7863;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 20px
}

.contact-section p {
    padding: 0px 60px;
    margin: 10px 0;
    font-size: 1.em;
    color: #555;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input-group {
    display: flex;
    flex-direction: column; /* Ganti row ke column agar form lebih responsif */
    gap: 20px;
    margin-bottom: 15px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 12px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-group textarea {
    height: 100px; /* Tentukan tinggi awal */
    resize: vertical; /* Izinkan pengguna mengubah ukuran vertikal */
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #45a049;
}

.social-media {
    margin-top: 20px;
}

.social-media p {
    font-size: 2rem;
    font-weight: bold;
}

.social-icons a {
    margin: 0 10px;
    color: #555;
    text-decoration: underline;
    font-size: 1.2rem;
}

.social-icons a:hover {
    color: #4CAF50;
}

/* Styling for alert */
.alert {
    display: none; /* Disembunyikan pada awalnya */
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out; /* Animasi fade-in */
}

/* Alert success style */
.alert.success {
    background-color: #4CAF50;
}

/* Alert error style */
.alert.error {
    background-color: #f44336;
}

/* Animation to fade in the alert */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Responsif untuk ukuran layar kecil */
@media screen and (max-width: 768px) {
    .input-group {
        flex-direction: column; /* Pastikan form input responsif pada layar kecil */
    }
    
    .contact-section {
        padding: 20px;
    }

    .submit-btn {
        width: 100%;
    }
}
